.app {
  display: flex; /* Active le mode flexbox */
  gap: 20px;     /* Ajoute un espace entre les div */
  flex-wrap: wrap;
}

.col1 {
  flex: 1;       /* Optionnel : permet aux div de prendre la même largeur */
  padding: 20px;
  flex-shrink: 1; 
  min-width: 0;
  background-color: lightblue;
}
