body {
  background-image: url("images/bliter.jpg");
  background-size: 150%;
  background-position: center;
  background-repeat: repeat;
}

.app {
  display: flex; /* Active le mode flexbox */
  webkit-flex-direction: column;
  gap: 2px;     /* Ajoute un espace entre les div */
  flex-wrap: wrap;
}

.col1 {
  flex: 1;       /* Optionnel : permet aux div de prendre la même largeur */
  padding: 20px;
  flex-shrink: 1;
  min-width: 500px;
  opacity: 0;
  transform: translateY(30px); /* Elle est 30px plus bas */
  corner-shape: bevel;
  background: linear-gradient(90deg,white, #040303, #b5011b, white, black);
  background-size:400%, 400%;
  animation: gradientAnimation 5s ease-in-out infinite, apparition 0.8s ease-out forwards;
}

@keyframes gradientAnimation{
  0%{
    background-position: 0% 50%;
    
  }
  100%{
    background-position: 100% 50%;
  }
}

p{
  align-self:center;
  color: lightgoldenrodyellow
}

h3{
  color: lightgoldenrodyellow
}

input{
  color:white;
}


/* 2. Le scénario de l'animation */
@keyframes apparition {
    to {
        opacity: 1;
        transform: translateY(0); /* Elle remonte à sa place */
    }
}

#div-list{
  overflow-wrap: break-word; /* Force la coupure des mots longs */
  word-break: break-all;     /* Optionnel : assure que même les très longs noms sans tirets se coupent */
}
